body {
  font-family: 'Nixie One', sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Special Elite', cursive;
}

th {
  font-family: 'Special Elite', cursive;
}

.loading-message {
  text-align: center;
  font-size: 24pt;
}

.pantryitem {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  margin-top: 30px;
  text-align: center;
}