body {
  font-family: 'Nixie One', sans-serif;
  margin: 0 auto;
  font-size: 18px;
}

.navbar {
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #BDBDBD;
  font-size: 18px;
  color: #797C7D;
}

.nav-link {
  color: #797C7D;
}

.flash {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 15px;
  border-bottom: 1px solid #BDBDBD;
}

a {
  color: black;
}

h1 {
  font-family: 'Special Elite', cursive;
  text-align: center;
}

th {
  font-family: 'Special Elite', cursive;
  font-size: 22px;
}

.table>tbody>tr>th {
  padding-top: 15px;
}

.table>tbody>tr>td.td-not-button {
  font-size: 16px;
  padding-top: 13px;
}

.quantity {
  text-align: center;
}

.portion-size {
  text-align: center;
}

.loading-message {
  text-align: center;
  font-size: 24pt;
}

.pantryitem {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.add {
  margin-top: 25px;
  margin-right: 10px;
}

.consume-show {
  margin-top: 25px;
  margin-left: 10px;
}

.show-pantry {
  margin-top: 25px;
}

footer {
  margin-top: 30px;
  text-align: center;
}