body {
  font-family: 'Nixie One', sans-serif;
  margin: 0 auto;
  font-size: 18px;
}

.navbar {
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #BDBDBD;
  font-size: 18px;
  color: #797C7D;
}

.nav-link {
  color: #797C7D;
}

.flash {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 15px;
  border-bottom: 1px solid #BDBDBD;
}

.splash {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  background: url('carrots.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #F2F2F2;
  font-family: 'Special Elite', cursive;
}

#splash-header {
  font-size: 65px;
  margin-top: 20%;
}

#splash-login {
  display: inline-block;
  font-size: 35px;
  margin: 20px;
  padding-top: 5px;
  padding: 10px;
  border-top: solid 3px #F2F2F2;
  border-bottom: solid 3px #F2F2F2;

}

#splash-signup {
  display: inline-block;
  font-size: 35px;
  margin: 20px;
  padding: 10px;
  padding-top: 10px;
  border-top: solid 3px #F2F2F2;
  border-bottom: solid 3px #F2F2F2;
}

a {
  color: black;
}

h1 {
  font-family: 'Special Elite', cursive;
  text-align: center;
}

th {
  font-family: 'Special Elite', cursive;
  font-size: 22px;
}

.table>tbody>tr>th {
  padding-top: 15px;
}

.table>tbody>tr>td.td-not-button {
  font-size: 16px;
  padding-top: 13px;
}

.quantity {
  text-align: center;
}

.exp-date {
  text-align: center;
}

.portion-size {
  text-align: center;
}

.loading-message {
  text-align: center;
  font-size: 24pt;
}

.pantry {
  margin: 0 auto;
}

.pantryitem {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.description-show {
  font-size: 24px;
  margin-bottom: 20px;
}

.add {
  margin-top: 25px;
  margin-right: 10px;
}

.consume-show {
  margin-top: 25px;
  margin-left: 10px;
}

.ingredients-show {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bold;
}

.show-pantry {
  margin-top: 25px;
}

.sm-button {
  height: 40px;
  font-size: 18px;
}

.big-button {
  margin-top: 20px;
  width: 200px;
  height: 75px;
  padding: 10px;
  font-size: 24px;
}

.edit-btn {
  margin-left: 30%;
}

.bulk-add {
  margin-right: 40%;
}

footer {
  margin-top: 30px;
  text-align: center;
}